* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;

  width: 100%vw;
  margin: 5rem 0 0 0;
  scroll-behavior: smooth;
}

.trans1 {
  transition: color 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.trans1 > i {
  transition: 0.5s ease-in-out;
}
